<div class="container">
	<div class="cards d-flex mt-5 justify-content-around">
		<div class="card-item">
			<mat-card class="bio">
			  <mat-card-title>Bio</mat-card-title>
			  <mat-divider inset></mat-divider>
			  <mat-card-content>
			    <ul class="list-group list-group-flush">
			    	<li class="list-group-item">
			    		<span>Name: </span>Rocky
			    	</li>
			    	<li class="list-group-item">
			    		<span>Surname: </span><i>unknown</i>
			    	</li>
			    	<li class="list-group-item">
			    		<span>Birthday: </span>March 3, 2021
			    	</li>
			    	<li class="list-group-item">
			    		<span>Weight: </span>47kg
			    	</li>
			    	<li class="list-group-item">
			    		<span>Mom: </span>Eshly <i>(Berneese mountain dog)</i>
			    	</li>
			    	<li class="list-group-item">
			    		<span>Dad: </span><i>unknown (Berneese mountain dog)</i>
			    	</li>
			    	<li class="list-group-item">
			    		<span>Sisters: </span>3 (Bertha, unknown, unknown)
			    	</li>
			    	<li class="list-group-item">
			    		<span>Brothers: </span>1 (unknown)
			    	</li>
			    </ul>
			  </mat-card-content>
			</mat-card>
		</div>

		<div class="card-item">
			<mat-card class="hobbies">
			  <mat-card-title>Things I like to do</mat-card-title>
			  <mat-divider inset></mat-divider>
			  <mat-card-content>
			    <ul class="list-group list-group-flush">
			    	<li class="list-group-item">
			    		<span>1: </span>Eating owner's shoes
			    	</li>
			    	<li class="list-group-item">
			    		<span>2: </span>Playing with people, sticks, balls, own tail etc
			    	</li>
			    	<li class="list-group-item">
			    		<span>3: </span>Begging for food every time somebody eats smth
			    	</li>
			    	<li class="list-group-item">
			    		<span>4: </span>Jumping on the owner when he comes back home and knock him down
			    	</li>
			    	<li class="list-group-item">
			    		<span>5: </span>Eating CHEESE, any kind of cheese, a looot of cheese!
			    	</li>
			    	<li class="list-group-item">
			    		<span>6: </span>Walking, running, jumping in the snow
			    	</li>
			    </ul>
			  </mat-card-content>
			</mat-card>
		</div>

		<div class="card-item">
			<mat-card class="unliked">
			  <mat-card-title>Things I hate</mat-card-title>
			  <mat-divider inset></mat-divider>
			  <mat-card-content>
			    <ul class="list-group list-group-flush">
			    	<li class="list-group-item">
			    		<span>1: </span>Being alone (that's the worst one!)
			    	</li>
			    	<li class="list-group-item">
			    		<span>2: </span>Being berated for eating one's shoes
			    	</li>
			    	<li class="list-group-item">
			    		<span>3: </span>Traveling by car (I usually get carsick)
			    	</li>
			    	<li class="list-group-item">
			    		<span>4: </span>Taking a bath (but I still love to swim in the lake)
			    	</li>
			    	<li class="list-group-item">
			    		<span>5: </span>Not being allowed to bark whenever I want to
			    	</li>
			    </ul>
			  </mat-card-content>
			</mat-card>
		</div>
	</div>
</div>